
#content{
  width: 150px;
  overflow: hidden;
}

.bottom{
  width: 100%;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  height: 40px;  
  float: left;
}

.bottom p {
  border: 1px dashed;
}

.common{
  width: 100%;
  float: left;
  text-align: left;
  cursor: pointer;
  padding: 0px;
  margin-bottom: 0px;
  box-sizing: border-box;
}

.common-item{
  width: 100%;
  list-style: none;
  float: left;
  color: black;
  overflow: hidden;
}

.double-word{
  margin-top: 5px;
  /* display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;     */
}

span{
  padding: 5px;
}